<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/styles.css'%}">
        <title>Registration</title>
    </head>
    <body>
        <header>
            <div class="header-container">
                <img src="{% static 'images/b.jpg' %}" class="b">
                <h1 id="app-name">$APPNAME</h1>
                <nav>
                    <a href="/about" class="nav-link">About</a>
                </nav>
                <span id="login-button">Login</span>
            </div>
        </header>
        <main>
           <form method="POST">
                {% csrf_token %}
                <div class="form-field">
                    <label for="{{ form.email.id_for_label }}">Email</label>
                    {{form.email}}
                    {% for error in form.email.errors %}
                        <div class="error">{{ error }}</div>
                    {% endfor %}        
                </div>
                
                <div class="form-field">
                    <label for="{{ form.password.id_for_label }}">Password</label>
                    {{form.password1}}
                    {% for error in form.password.errors %}
                        <div class="error">{{ error }}</div>
                    {% endfor %}        
                </div>

                <div class="form-field">
                    <label for="{{ form.password1.id_for_label }}">Confirm</label>
                    {{form.password2}}
                    {% for error in form.password1.errors %}
                        <div class="error">{{ error }}</div>
                    {% endfor %}        
                </div>

                <button type="submit">Register</button>
            </form>

            <div class="error-message">
                {% for field in form %}
                    {% for error in field.errors %}
                        <div class="error">{{ error }}</div>
                    {% endfor %}
                {% endfor %}
            </div>
        </main>
    </body>
</html>